@model AdminPortal.Models.Customer

@{
    Layout = "_Layout";
}


<title>@Model.name</title>
<body>
<div>
    <h1>@Model.name's overblik</h1>
    <h5><bold>Lokation</bold></h5>
    <p>@Model.address</p>
    <p>@Model.city</p>
    <p>@Model.postalCode</p>
</div>
@section CustomerSites
{
    <div class="menuItems"><a class="menuItems" asp-area="" asp-controller="Admin" asp-action="CustomerSites" asp-route-id="@Model.id">
        <i class="fa fa-list-ul"></i>&nbsp;&nbsp;Kunder</a></div>
}

</body>
